/* Coded by F. Aiello CL-Robocity All Rigths Reserved */
html {
    --pageW: 1100px;
    --barW: .65;
    --pageTs: 18px;

    --mobileBarH: 8vh;
    --mobileTs: 30px;

    --col1: #3dc1dc;
    --col2: #fa7605;
}

body {
    position: absolute;
    width: 100vw;
    height: 100%;

    margin: 0;

    background: #000;
}

body::-webkit-scrollbar {
    display: none;
}

#dimAlert {
    display: none;

    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;

    color: #fff;
    font-family: "carbon";
    font-size: 6vw;

    justify-content: center;
    align-items: center;

    background: #000;
}

#sbBox {
    position: absolute;
    width: 10px;
    height: 100%;
    right: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 50px 0;
    box-sizing: border-box;
    
    opacity: 5%;
    overflow: hidden;
    z-index: 3;
    transition: .2s ease-in all;
}

#sbBox:hover {
    opacity: 100%;
}

#scrollBar {
    position: relative;
    width: 100%;
    height: 100%;

    writing-mode: vertical-lr;

    background: #00000000;
    border-radius: 10px;

    transition: .2s ease-in all;

    cursor: pointer;

    appearance: none;
    margin: 0;
}

#scrollBar::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10vh;
    border-radius: 10px;
    background: #fff;
}

#appBox {
    position: absolute;
    width: 100%;
    height: 100%;

    overflow-y: scroll;
}

#appBox::-webkit-scrollbar {
    display: none;
}

#app {
    position: relative;
    width: 100vw;
    height: max-content;
    min-height: 100%;
}

div {
    border: 0px solid #f00;
    box-sizing: border-box;
}

@font-face {
    font-family: "carbon";
    src: url("../assets/font/POICarbonicTrial-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}