/* Coded by F. Aiello CL-Robocity All Rigths Reserved */
html {
    --pageW: 1100px;
    --barW: .65;
    --pageTs: 18px;

    --mobileBarH: 60px;
    --mobileTs: 30px;

    --col1: #3dc1dc;
    --col2: #fa7605;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;

    margin: 0;
    overflow-y: scroll;

    background: #000;
}

body::-webkit-scrollbar {
    width: 0px;
}

#app {
    position: relative;
    width: 100%;
    height: max-content;
    min-height: 100%;

    margin: 20px 0 100px 0;
}

div {
    border: 0px solid #f00;
    box-sizing: border-box;
}

@font-face {
    font-family: "carbon";
    src: url("../assets/font/POICarbonicTrial-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}